.git
.gitignore
.venv
venv
env
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd

backend/.env
.env

backend/uploads
*.log

.vscode
docs
tests

meeting_test.mp3
big_meeting_test.mp3
